body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

/* Champ supérieur du HEADER */

#newsletter{
  background-color: rgba(128, 0, 128, 0.753);
  display: flex;
  height: 40px;
  }

#newsletter img{
  width: 14% !important;
  opacity: 0.5;
  color: white;
}

#newsletter .logo{
  width: 300px;
}

#champs_newsletter {
  display: flex;
  align-items: center;
  padding-left: 15%;
}

#champs_newsletter div{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

#champs_newsletter input{
  color: rgba(128, 128, 128, 0.6);
  border-radius: 4px;
  height: 20px;
}

#champs_newsletter button {
  background-color:lightgreen;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  border-radius: 4px;
  height: 28px;
}

/* Champ inférieur du HEADER */

/* Section logo de la nav */

nav .logo{
  display: inline-block;
  margin: 0 auto;
  padding-top: 15px;
  width: 20%;
  border-right: solid 2px rgba(128,128,128,0.3) ;
}

.logo img {
  width: 50%;
}

.logo {
  padding: 0;
  margin: 0;
}

/* NAV BAR */

nav {
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: solid rgba(128,128,128,0.3) 2px;
}

nav ul {
  list-style: none;
  display: flex;
  padding-right: 100px;
}

nav li {
  padding: 15px;
  padding-right: 5px;
  text-transform: uppercase;
}

nav a {
  flex-direction: column;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

nav a:last-child::before {
  content: "";
  height: 50px;
  width: 15px;
  background-color: grey;
  position: asbolute;
  right: 10%;
  top: 10%;
}

/* Contenu */

#contenu {
  text-align: justify;
  padding: 10%;
}

section ul{
  text-align: justify;
}

section h1 {
  font-size: 50px;
  text-align:center!important;
  padding-bottom: 50px;
  font-weight: lighter;
}

section h1::before {
  content: "";
  height: 1px;
  width: 40px;
  left: 48%;
  background-color: purple;
  position: absolute;
  bottom: 55%;
}

#contenu h2{
  font-size: 50px;
  text-align: left;
  padding-right: 70px;
  font-weight: lighter;
}

#contenu li {
  padding: 10px;
  list-style: none;
}

#contenu li::before {
  content: "•";
  color: purple;
  padding: 5px;
}

#contenu p, #contenu ul,#contenu span {
  color: grey;
  font-weight: bold;
  padding: 5px;
}

/* footer */

footer {
  background-color: #333;
  height: 400px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

footer a{
  color: white;
  text-transform: uppercase;
  padding: 20px;
  text-decoration: none;
  height: 50px;
}

.section {
  text-align: center;
}

.section div {
  display: inline;
}

footer section img {
  height: 25px;
  width: 25px;
}

.logoFooter{
  display: flex;
  width: auto;
  margin-top: 100px;
  justify-content: center;
}

.logoFooter img{
  width: 150px;
  background: transparent;
}

.section{
  border-bottom: 1px solid rgba(128, 128, 128, 0.589);
  padding-bottom: 40px;
}

footer p{
  text-align: center;
  color: grey;
  padding-top: 50px;
}

footer span {
  bottom: 15px;
}