/* Champ supérieur du HEADER */

#newsletter{
  background-color: purple;
  display: flex;
  height: 40px;
  }

#newsletter img{
  width: 14%; !important;
  opacity: 0.8;
}

#newsletter .logo{
  width: 300px;
}

#champs_newsletter {
  display: flex;
  align-items: center;
}

#champs_newsletter div{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

#champs_newsletter input{
  color: rgba(128, 128, 128, 0.9)
}

#champs_newsletter button {
  background-color:lightgreen;
  color: rgba(128, 128, 128, 0.6);
  text-transform: uppercase;
  border-radius: 4px;
}

/* Champ inférieur du HEADER */

/* Section logo de la nav */

nav .logo{
  display: inline-block;
  margin-right: 30px;
  width: 20%;
  border-right: solid 2px rgba(128,128,128,0.3) ;
}

.logo img {
  width: 75%;
}

/* NAV BAR */

nav {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid rgba(128,128,128,0.3) 2px;
  width: 100%;
  height: 100%;
}

.menu {
  flex-direction: row;
  /* border: solid grey 1px; */
  width: auto;
}

nav ul {
  list-style: none;
  /* justify-content: center;
  align-items: center; */
  /* flex: auto; */
  /* align-self: center; */
  display: flex;
  margin-right: 120px;
}

nav li {
  /* display: inline; */
  padding: 15px;
  padding-right: 5px;
  text-transform: uppercase;
}

nav a {
  flex-direction: column;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

/* Contenu */

#contenu {
  text-align: justify;
  padding: 10%;
}

section ul{
  text-align: justify;
}

section h1 {
  font-size: 50px;
  text-align:center!important;
}

#contenu li {
  padding: 10px;
  list-style: none;
}

#contenu li::before {
  content: "•";
  color: purple;
  padding: 5px;
}

#contenu p, #contenu ul,#contenu span {
  color: grey;
  font-weight: bold;
}

/* footer */

footer {
  background-color: grey;
  height: 400px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

footer a{
  color: white;
  text-transform: uppercase;
  padding: 20px;
  text-decoration: none;
  height: 50px;
}

.section {
  text-align: center;
}

.section div {
  display: inline;
}

footer section img {
  height: 25px;
  width: 25px;
}

footer img {
  
}

footer span {
  bottom: 15px;
}